# Clarity Kernel Tweaks And Parameters

on init
    # set default schedTune value for foreground/top-app (EAS Only)
    write /dev/stune/background/schedtune.prefer_idle 0
    write /dev/stune/foreground/schedtune.prefer_idle 0
    write /dev/stune/rt/schedtune.prefer_idle 0
    write /dev/stune/top-app/schedtune.prefer_idle 0
    write /dev/stune/schedtune.prefer_idle 0
    write /dev/cpuset/background/cpus "0-7"
    write /dev/cpuset/foreground/cpus "0-7"
    write /dev/cpuset/restricted/cpus "0-7"
    write /dev/cpuset/system-background/cpus "0-7"
    write /dev/cpuset/top-app/cpus "0-7"

on late-fs

# Execute only after boot is complete
on property:sys.boot_completed=1

   # Set up CFQ I/O Scheduler
   setprop sys.io.scheduler cfq

   # Disable slice_idle on supported block devices
   write /sys/block/mmcblk0/queue/iosched/slice_idle 0
   write /sys/block/mmcblk1/queue/iosched/slice_idle 0
   write /sys/block/dm-0/queue/iosched/slice_idle 0
   write /sys/block/dm-1/queue/iosched/slice_idle 0
   write /sys/block/sda/queue/iosched/slice_idle 0

# Run post-boot script after Qualcomm's post_boot shell script
on property:init.svc.qcom-post-boot=stopped
    # CPU values
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 652000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2016000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/schedutil/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpufreq/schedutil/iowait_boost_enable 0

    # Power Efficient Workqueue
    chmod 0644 /sys/module/workqueue/parameters/power_efficient
    write /sys/module/workqueue/parameters/power_efficient Y

    # GPU Values
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 650000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 133330000

    # Thermal Engine
    chmod 0644 /sys/module/msm_thermal/parameters/enabled
    write /sys/module/msm_thermal/parameters/enabled 1
    chmod 0644 /sys/module/msm_thermal/core_control/enabled
    write /sys/module/msm_thermal/core_control/enabled 0
    chmod 0644 /sys/module/msm_thermal/vdd_restriction/enabled
    write /sys/module/msm_thermal/vdd_restriction/enabled 0
    write /sys/module/msm_thermal/parameters/core_limit_temp_degC 70
    write /sys/module/msm_thermal/parameters/temp_threshold 60

    # Battery
    write /sys/kernel/fast_charge/force_fast_charge 0
    
    # I/O Scheduler
    write /sys/block/mmcblk1/queue/read_ahead_kb 128

    # Low Memory Killer
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 0
    write /sys/module/process_reclaim/parameters/enable_process_reclaim 0

    # Disable Audio Optimizations
    write /sys/module/snd_soc_wcd9330/parameters/high_perf_mode 0
    write /sys/module/snd_soc_wcd9335/parameters/huwifi_mode 0
    write /sys/module/snd_soc_wcd9335/parameters/low_distort_amp 0
    write /sys/module/snd_soc_wcd9xxx/parameters/impedance_detect_en 0

    # Enable Qualcomm Power Gating
    write /sys/module/snd_soc_wcd9335/parameters/dig_core_collapse_enable 1
