# Initialization
on property:sys.boot_completed=1
    # Set default profile on first boot
    exec u:r:init:s0 root root -- /init.spectrum.sh
    exec u:r:su:s0 root root -- /init.spectrum.sh
    # Enable Spectrum support
    setprop spectrum.support 1
    # Add kernel name
    setprop persist.spectrum.kernel Clarity

# Balance (default profile)
on property:persist.spectrum.profile=0

# CPU values
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 652000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1689600
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/schedutil/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpufreq/schedutil/iowait_boost_enable 0

# GPU Values
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 510000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 133330000

# Performance
on property:persist.spectrum.profile=1
# CPU values
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 652000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2016000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/schedutil/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpufreq/schedutil/iowait_boost_enable 0

# GPU Values
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 650000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 133330000

# Battery
on property:persist.spectrum.profile=2
# CPU values
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 652000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1401600
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "pwrutilx"
    write /sys/devices/system/cpu/cpufreq/pwrutilx/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/pwrutilx/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpufreq/pwrutilx/iowait_boost_enable 0

# GPU Values
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 400000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 133330000

# Gaming
on property:persist.spectrum.profile=3
# CPU values
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 652000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2016000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "pwrutilx"
    write /sys/devices/system/cpu/cpufreq/pwrutilx/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/pwrutilx/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpufreq/pwrutilx/iowait_boost_enable 0

# GPU Values
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 650000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 400000000
